:root {
  --white: #f9f9f9;
  --black: #36383f;
  --gray: #85888c;
  --darkgreen: #019966;
  --lightgreen: #34cc99;
  --background: #68b5d9;
  --textdark: #393939;
  --textlight: #f8fbfa;
} /* variables*/

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(/deathToStock.jpeg);
  background-size: cover;
  background-color: #59a0c1;
  background-repeat: no-repeat;
  max-width: auto;
  /* background-size: auto; */
  /* width: 100%; */
  /* height: auto; */
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* Header */
header {
  background-color: white;
  box-shadow: 1px 1px 5px 0px var(--gray);
  position: sticky;
  top: 0;
  width: 100%;
  padding-bottom: 45px;
  border-bottom: 8px solid var(--lightgreen);
  border-top: 20px solid white;
}
/* Logo */
.logo {
  display: inline-block;
  color: var(--textdark);
  font-size: 22px;
  height: 55px;
  margin-left: 10px;
  font-weight: bolder;
  color: var(--textdark);
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  letter-spacing: 3px;
}

/* Nav menu */
.nav {
  width: 100%;
  height: 100%;
  position: fixed;
  /* background-color: white; */
  overflow: hidden;
}

.menu a {
  display: block;
  padding: 30px;
  color: var(--textdark);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.menu a:hover {
  background-color: var(--gray);
}
.nav {
  max-height: 0;
  transition: max-height 0.5s ease-out;
}

/* Menu Icon */
.hamb {
  cursor: pointer;
  float: right;
  padding: 40px 20px;
} /* Style label tag */

.hamb-line {
  background: var(--textdark);
  display: block;
  height: 2px;
  position: relative;
  width: 24px;
} /* Style span tag */

.hamb-line::before,
.hamb-line::after {
  background: var(--textdark);
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}
.hamb-line::before {
  top: 5px;
}
.hamb-line::after {
  top: -5px;
}

.side-menu {
  display: none;
}

/* Toggle menu icon */
.side-menu:checked ~ nav {
  max-height: 100%;
}
.side-menu:checked ~ .hamb .hamb-line {
  background: transparent;
}
.side-menu:checked ~ .hamb .hamb-line::before {
  transform: rotate(-45deg);
  top: 0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
  transform: rotate(45deg);
  top: 0;
}

/* Responsiveness */
@media (min-width: 768px) {
  .nav {
    max-height: none;
    top: 0;
    position: relative;
    float: right;
    width: fit-content;
  }
  .menu li {
    float: left;
  }
  .menu a:hover {
    background-color: transparent;
    color: var(--gray);
  }

  .hamb {
    display: none;
  }
}

/* body {
  font-family: Arial, Helvetica, sans-serif;
} */

/* .navbar {
  overflow: hidden;
  background-color: #333;
} */

nav a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: var(--textdark);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: var(--lightgreen);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--lightgreen);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: var(--textdark);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: var(--darkgreen);
}

.dropdown:hover .dropdown-content {
  display: block;
}
