:root {
  --darkgreen: #019966;
  --lightgreen: #34cc99;
  --background: #68b5d9;
  --textdark: #393939;
  --textlight: #f8fbfa;
}

* { 
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body { 
  background-image: url(/deathToStock.jpeg);
  background-size: cover;
  background-color: #59a0c1;
  background-repeat: no-repeat;
  max-width: auto;
}

a, a:hover {
  color: var(--textdark);
  text-decoration: none;
  font-weight: 600;
}

nav {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 50px;
  background: #fff;
  box-shadow: 0 0px 9px 4px rgba(0, 0, 0, 0.1), 0 -5px 2px 2px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  min-width: 580px;
  /* new stuff */
  padding-bottom: 45px;
  border-bottom: 8px solid var(--lightgreen);
  border-top: 20px solid white;
}
nav .logo {
  position: relative;
  float: left;
  height: 50px;
  padding:0 0 0 125px;
  color: var(--textdark);
  font-size: 22px;
  font-weight: bolder;
  text-transform: uppercase;
  text-transform:uppercase;
  text-decoration: none;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  letter-spacing: 3px;
}


nav .links {
  float: right;
  margin-right: 30px;
  position: relative;
}

nav .links li {
  float: left;
  list-style: none;
  position: relative;
  margin: 0 30px 0 30px;
  display: inline-block;
}

nav .links li > a {
  /* position: relative; */
  display: inline-block;
  /* padding: 0 10px; */
  /* line-height: 30px; */
  /* height: 30px; */
  color: var(--textdark);
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;  
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
  padding: 3px 2px 10px 2px;
  text-decoration: none;
}
nav .links li > a:hover {
  color: #fff;
  background: var(--lightgreen);
  border-radius: 2px;
  padding-bottom: 30px;
}

/* nav .links li > a[class^=trigger-] {
  padding-right: 40px;
} */
/* nav .links li > a .arrow {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 35%;
  text-align: center;
  right: 10px;
  border-width: 5px 5px 0 5px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.3) transparent;
} */

/* 
nav .links li > a .arrow:after {
  content: "";
  border-left: 1px solid rgba(0, 0, 0, 0.15);
  top: -10px;
  left: -15px;
  position: absolute;
  height: 15px;
} */

nav .links li ul {
  position: absolute;
  left: 0;
  margin: 0;
  background-color: var(--lightgreen);
  border-radius: 2px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  display: none;
}

/* nav .links li ul > li {
  clear: both;
  list-style: none;
  display: block;
  padding: 0 10px;
  margin: 0;
  width: 100%;
} */

nav .links li ul > li:hover {
  width: 100px;
  background: green;
}
nav .links li ul > li:hover > a {
  background: red;
  width: 100px;
  color: #fff;
}
nav .links li:hover > .drop {
  display: block;
  animation: fadeInRight 0.3s ease;
  -webkit-animation: fadeInRight 0.3s ease;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}